<nav>
  <ul>
  <span class="nav-home"><%= "reader@nathanberthier:~#{params[:controller] == 'pages' ? '' : "/#{params[:controller]}"}#" %></span>
    <li><%= link_to '/home', root_path %></li>
    <li><%= link_to '/posts', posts_path %></li>
    <li><%= link_to '/contacts', about_path %></li>
    <li class='btn-dark'>
      <i class="far fa-lightbulb"></i>
      <i class="far fa-moon"></i>
    </li>
  </ul>
</nav>
