<div class='home-head'>
  <div>
    <h1>Hi, I'm Nathan.<br>I do software development.</h1>
    <h2>I am an 21 year old ruby on rails freelance developer.</h2>
    <h2>In my free time, I educate myself and code random things.</h2>
  </div>
  <div>
    <%= image_tag("nathan") %>
  </div>
</div>
