<div class='contact'>
  <div class='contact-card'>
    <h2>You can contact me by mail or by any following social media:</h2>
    <ul>
      <li>
        <a href="mailto:nathanberthier@outlook.fr?subject=Hello 👋" target="_blank">
          <i class="fas fa-envelope"></i>
        </a>
      </li>

      <li>
        <a href="https://github.com/NathanBerthier" target="_blank">
          <i class="fab fa-github"></i>
        </a>
      </li>

      <li>
        <a href="https://twitter.com/nathan_berthier" target="_blank">
          <i class="fab fa-linkedin"></i>
        </a>
      </li>

      <li>
        <a href="https://www.linkedin.com/in/berthier-nathan/" target="_blank">
          <i class="fab fa-twitter"></i>
        </a>
      </li>
    </ul>
  </div>
</div>
