@import 'config/colors';
@import 'config/fonts';

@import 'components/index';

@import 'contacts';
@import 'pages';
@import 'posts';


body {
  color: $black;
  background: $white;
}

body.dark-theme {
  color: $white;
  background: $black;
}

@media (prefers-color-scheme: dark) {
  body {
    color: $white;
    background: $black;
  }
  body.light-theme {
    color: $black;
    background: $white;
  }
}

.container {
  width: 65%;
  margin: 0px auto;
}
