.home-head {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 60% 1fr;
  column-gap: 10px;
  row-gap: 10px;
  justify-items: end;
  h1 {
    font-size: 2.5rem;
    font-weight: 500;
  }
  img {
    width: 350px;
    border-radius: 15px;
  }
  .last-post {
    justify-self: start;
    width: 450px;
    h2 {
      font-weight: 500;
    }
  }
  a {
    text-decoration: none;
  }
}

.info {
  margin-top: 90px;
  h2 {
    font-size: 2rem;
    font-weight: 400;
  }
  ul {
    padding: 0px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 15px;
    row-gap: 15px;
    margin-bottom: 110px;
  }
  li {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    padding: 10px 15px;
    border-radius: 8px;
    color: $white !important;
    place-self: center stretch;
    background: $grey;
    img {
      height: 35px;
      margin-right: 10px;
      border-radius: 2px;
    }
  }
}
